sudo: required
services:
    - docker

before_install:
    - docker build -t aunermedina/docker-react-app -f Dockerfile.dev .

script:
    - docker run -e CI=true aunermedina/docker-react-app npm run test